<form action="/countries" method="POST">
	<%= token_tag %>
	
	<label for="name">Name: </label>
	<input type="text" name="name" placeholder="Name">
	
	<input type="text" name="population" placeholder="Population">

	<input type="text" name="flag" placeholder="Flag">

	<input type="text" name="language" placeholder="Language">

	<input type="text" name="president" placeholder="President">

	<input type="submit" value="Save">

</form>